<div class="w-[80%] sm:w-[50%] mx-auto bg-white shadow-lg p-6 rounded-lg gap-4 flex flex-col" [formGroup]="RegisterForm">
  <h2 class="text-2xl font-bold text-center text-gray-700">Register</h2>

  <!-- Email Input -->
  <div class="flex flex-col">
    <label for="email" class="font-medium text-gray-600">Email:  </label>
    <input 
      required
      id="email" 
      type="email" 
      class="border rounded p-2 focus:outline-none focus:ring-2 focus:ring-blue-500" 
      formControlName="email"
      placeholder="Enter email" 
    />
    @if(RegisterForm.get('email')?.invalid && RegisterForm.get('email')?.touched){
      <p class="text-sm text-red-500">email not valid</p>
    }
   
  </div>
  <div class="flex flex-col gap-4">
    <label for="password" class="font-medium text-gray-600">Password:  </label>
    <input 
      required
      id="password" 
      type="password" 
      class="border rounded p-2 focus:outline-none focus:ring-2 focus:ring-blue-500" 
      formControlName="password"
      placeholder="Enter password" 
    />
    @if(!RegisterForm.get('password')?.valid  && RegisterForm.get('password')?.touched){
      <div class="flex gap-2">
     <div>
        <span  class="text-sm" [ngClass]="{ 'fulfilled': hasLowerCase(), 'missing': !hasLowerCase() }">Lowercase Letter</span>
      </div>
      <div>
        <span class="text-sm" [ngClass]="{ 'fulfilled': hasUpperCase(), 'missing': !hasUpperCase() }">Uppercase Letter</span>
      </div>
      <div>
        <span class="text-sm" [ngClass]="{ 'fulfilled': hasNumber(), 'missing': !hasNumber() }">Digit</span>
      </div>
      <div>
        <span class="text-sm" [ngClass]="{ 'fulfilled': hasSpecialCharacter(), 'missing': !hasSpecialCharacter() }">Special Character</span>
      </div>
    </div>
    }
  
    @if(RegisterForm.get('password')?.hasError('minlength')){
      <div class="text-orange-400">
        Password must be at least 6 characters long
      </div>}
  
   

  <!-- Name Input -->
  <div class="flex flex-col">
    <label for="name" class="font-medium text-gray-600">Name:</label>
    <input 
      required
      id="name" 
      type="text" 
      class="border rounded p-2 focus:outline-none focus:ring-2 focus:ring-blue-500" 
      formControlName="name"
      placeholder="Enter name" 
      (input)="onNameChange()"
    />
    @if(RegisterForm.get('name')?.invalid && RegisterForm.get('name')?.touched){
      <p class="text-sm text-red-500">name not valid</p>
    }
  </div>

  <!-- Date of Birth Input -->
  <div class="flex flex-col">
    <label for="dob" class="font-medium text-gray-600">Date of Birth:</label>
    <input 
      required
      id="dob" 
      type="date" 
      class="border rounded p-2 focus:outline-none focus:ring-2 focus:ring-blue-500" 
      formControlName="dob"
    />
    @if(RegisterForm.get('dob')?.invalid && RegisterForm.get('dob')?.touched  ){

      <p class="text-sm text-red-500">date of birth not valid</p>
    }@if(futureDate()){
      <p class="text-sm text-red-500">date of birth can't be in future</p>
    }
  
  </div>

  <div class="flex flex-col">
    <label for="name" class="font-medium text-gray-600">Phone Number:</label>
    <input 
      required
      id="phone" 
      type="number" 
      class="border rounded p-2 focus:outline-none focus:ring-2 focus:ring-blue-500" 
      formControlName="phoneNumber"
      placeholder="Enter phone number" 
    />
    @if(RegisterForm.get('phoneNumber')?.invalid && RegisterForm.get('phoneNumber')?.touched){
      <p class="text-sm text-red-500">Phone number not valid</p>
    }
  </div>

  <!-- Image URL Input -->
  <div class="flex flex-col">
    <label for="imageUrl" class="font-medium text-gray-600">Image URL: </label>
    <input 
      id="imageUrl" 
      type="text" 
      class="border rounded p-2 focus:outline-none focus:ring-2 focus:ring-blue-500" 
      formControlName="imageUrl"
      placeholder="Enter new image URL" 
    />
  </div>
<!-- address -->
  <div class="flex flex-col">
    <label for="address" class="font-medium text-gray-600">Address: </label>
    <input 
      id="address" 
      type="text" 
      class="border rounded p-2 focus:outline-none focus:ring-2 focus:ring-blue-500" 
      formControlName="address"
      placeholder="Enter address" 
    />
  </div>

  <!-- Gender Radio Buttons -->
  <div class="flex flex-col">
    <label class="font-medium text-gray-600">Gender:</label>
    <div class="flex gap-4">   
    @for(gender of genderList; track $index) {
  @if($index !=0){ 
     <label class="flex items-center gap-1">
    <input 
          type="radio" 
          formControlName="gender" 
          [value]="$index"
          class="mr-2" /> 
        {{gender}}
     </label> }
    } 
    </div>
  </div>
  <label class="font-medium text-gray-600">department:</label>
  <select class="border rounded p-2 focus:outline-none focus:ring-2 focus:ring-blue-500" formControlName="departmentId">
 
  @for(department of departmentOptions; track department.id){
   @if(department.id!=0){<option class="text-black" [value]="department.id" >
    {{ department.departmentName }}
  </option>}
  @else {
    <option class="text-black" [value]="department.id" disabled selected>
      {{ department.departmentName }}
    </option>
  }
  }

  </select>

  <!-- Terms Accepted Checkbox -->
  <div class="flex flex-col">
    <label class="flex items-center text-gray-600">
      <input 
        type="checkbox" 
        formControlName="termsAccepted" 
        class="mr-2" />
      I accept the terms and conditions
    </label>
  </div>

  <!-- Submit Button -->
  <button 
    class="w-full bg-blue-500 text-white py-2 rounded-lg hover:bg-blue-600 transition-colors"
    (click)="register()"
    [disabled]="RegisterForm.invalid"
  >
    Register
  </button>
</div>

<lib-toastify-toast-container position='bottom-right' autoCloseSuccess="2000"/>
